@import "../../variables.scss";

.login-section,
.signUp-section {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 530px;
  min-height: 530px;
  padding: 30px;
  background-color: $bg-card;
  border-radius: 12px;

  .login-header-wrapper {
    position: relative;
    top: -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h2 {
      display: flex;
      align-items: center;
      gap: 10px;
      width: fit-content;
      color: $text-active;
      font-size: 27px;
    }

    h1 {
      display: flex;
      align-items: center;
      gap: 10px;
      width: fit-content;
      color: $primary-color;
    }
  }

  input {
    width: 100%;
    height: 48px;
    padding-inline: 15px;
    border-bottom: 1px solid $text-inactive;
    color: $text-active;
    font-size: 16px;
    &::placeholder {
      color: $text-inactive;
    }
  }
  p,
  strong {
    color: $text-active;
    font-weight: 400;
  }
  strong {
    text-decoration: underline;
    cursor: pointer;
  }
}
